[submodule "brother-dcpj125"]
	path = brother-dcpj125
	url = https://github.com/swiftgeek/AUR4.git
	branch = brother-dcpj125
[submodule "backports-patched"]
	path = backports-patched
	url = https://github.com/swiftgeek/AUR4.git
	branch = backports-patched
[submodule "changeling"]
	path = changeling
	url = https://github.com/swiftgeek/AUR4.git
	branch = changeling
[submodule "e4rat"]
	path = e4rat
	url = https://github.com/swiftgeek/AUR4.git
	branch = e4rat
[submodule "earlyoom-git"]
	path = earlyoom-git
	url = https://github.com/swiftgeek/AUR4.git
	branch = earlyoom-git
[submodule "firefox-nightly-i18n"]
	path = firefox-nightly-i18n
	url = https://github.com/swiftgeek/AUR4.git
	branch = firefox-nightly-i18n
[submodule "gputest"]
	path = gputest
	url = https://github.com/swiftgeek/AUR4.git
	branch = gputest
[submodule "kicad-library-git"]
	path = kicad-library-git
	url = https://github.com/swiftgeek/AUR4.git
	branch = kicad-library-git
[submodule "kmscube-git"]
	path = kmscube-git
	url = https://github.com/swiftgeek/AUR4.git
	branch = kmscube-git
[submodule "netfabb-basic"]
	path = netfabb-basic
	url = https://github.com/swiftgeek/AUR4.git
	branch = netfabb-basic
[submodule "oregano"]
	path = oregano
	url = https://github.com/swiftgeek/AUR4.git
	branch = oregano
[submodule "osmocombb-git"]
	path = osmocombb-git
	url = https://github.com/swiftgeek/AUR4.git
	branch = osmocombb-git
[submodule "pacman-cage"]
	path = pacman-cage
	url = https://github.com/swiftgeek/AUR4.git
	branch = pacman-cage
[submodule "perl-alien-wxwidgets"]
	path = perl-alien-wxwidgets
	url = https://github.com/swiftgeek/AUR4.git
	branch = perl-alien-wxwidgets
[submodule "perl-boost-geometry-utils"]
	path = perl-boost-geometry-utils
	url = https://github.com/swiftgeek/AUR4.git
	branch = perl-boost-geometry-utils
[submodule "perl-constant-defer"]
	path = perl-constant-defer
	url = https://github.com/swiftgeek/AUR4.git
	branch = perl-constant-defer
[submodule "perl-extutils-cppguess"]
	path = perl-extutils-cppguess
	url = https://github.com/swiftgeek/AUR4.git
	branch = perl-extutils-cppguess
[submodule "perl-extutils-makemaker-aur"]
	path = perl-extutils-makemaker-aur
	url = https://github.com/swiftgeek/AUR4.git
	branch = perl-extutils-makemaker-aur
[submodule "perl-extutils-parsexs-aur"]
	path = perl-extutils-parsexs-aur
	url = https://github.com/swiftgeek/AUR4.git
	branch = perl-extutils-parsexs-aur
[submodule "perl-extutils-typemaps-default"]
	path = perl-extutils-typemaps-default
	url = https://github.com/swiftgeek/AUR4.git
	branch = perl-extutils-typemaps-default
[submodule "perl-math-clipper"]
	path = perl-math-clipper
	url = https://github.com/swiftgeek/AUR4.git
	branch = perl-math-clipper
[submodule "perl-math-convexhull"]
	path = perl-math-convexhull
	url = https://github.com/swiftgeek/AUR4.git
	branch = perl-math-convexhull
[submodule "perl-math-convexhull-monotonechain"]
	path = perl-math-convexhull-monotonechain
	url = https://github.com/swiftgeek/AUR4.git
	branch = perl-math-convexhull-monotonechain
[submodule "perl-math-geometry-voronoi"]
	path = perl-math-geometry-voronoi
	url = https://github.com/swiftgeek/AUR4.git
	branch = perl-math-geometry-voronoi
[submodule "perl-math-libm"]
	path = perl-math-libm
	url = https://github.com/swiftgeek/AUR4.git
	branch = perl-math-libm
[submodule "perl-math-planepath"]
	path = perl-math-planepath
	url = https://github.com/swiftgeek/AUR4.git
	branch = perl-math-planepath
[submodule "perl-module-build-withxspp"]
	path = perl-module-build-withxspp
	url = https://github.com/swiftgeek/AUR4.git
	branch = perl-module-build-withxspp
[submodule "perl-opengl"]
	path = perl-opengl
	url = https://github.com/swiftgeek/AUR4.git
	branch = perl-opengl
[submodule "perl-threads-aur"]
	path = perl-threads-aur
	url = https://github.com/swiftgeek/AUR4.git
	branch = perl-threads-aur
[submodule "perl-wx-glcanvas"]
	path = perl-wx-glcanvas
	url = https://github.com/swiftgeek/AUR4.git
	branch = perl-wx-glcanvas
[submodule "perl-xml-sax-expatxs"]
	path = perl-xml-sax-expatxs
	url = https://github.com/swiftgeek/AUR4.git
	branch = perl-xml-sax-expatxs
[submodule "python-powerline"]
	path = python-powerline
	url = https://github.com/swiftgeek/AUR4.git
	branch = python-powerline
[submodule "python-pylibftdi"]
	path = python-pylibftdi
	url = https://github.com/swiftgeek/AUR4.git
	branch = python-pylibftdi
[submodule "python2-gtkglext"]
	path = python2-gtkglext
	url = https://github.com/swiftgeek/AUR4.git
	branch = python2-gtkglext
[submodule "qrigol-git"]
	path = qrigol-git
	url = https://github.com/swiftgeek/AUR4.git
	branch = qrigol-git
[submodule "qt5-wayland-git"]
	path = qt5-wayland-git
	url = https://github.com/swiftgeek/AUR4.git
	branch = qt5-wayland-git
[submodule "sdr-j-dabreceiver"]
	path = sdr-j-dabreceiver
	url = https://github.com/swiftgeek/AUR4.git
	branch = sdr-j-dabreceiver
[submodule "slic3r-git"]
	path = slic3r-git
	url = https://github.com/swiftgeek/AUR4.git
	branch = slic3r-git
[submodule "vsprog-git"]
	path = vsprog-git
	url = https://github.com/swiftgeek/AUR4.git
	branch = vsprog-git
[submodule "xsendkey"]
	path = xsendkey
	url = https://github.com/swiftgeek/AUR4.git
	branch = xsendkey
